.cardContainer {
  background-color: pink;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  gap: 10px;
}

.cardTextContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  overflow: hidden;

  h3 {
    font-size: 26px;
  }
}

.cardImageContent {
  width: 150px;
  height: 150px;
  border-radius: 10px;

  .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
}



.cardActions {
  width: 150px;
  height: 150px;
  flex-shrink: 0;

  .cardLink {
    width: 100%;
    height: 100%;
  }

  .cardActionsButton {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}