.headerContainter {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  color: white;

  .headerLogoContainter {
    display: flex;
    align-items: center;
    gap: 5px;

    h1 {
      font-size: 30px;
      color: white;
    }
  }


  .headerControlsContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;


    .loginButton {
      color: white;
      border-color: white;
    }
  }
  .addButton {
    padding: 10px;
  }

}